
.DS_Store
02_python/.ipynb_checkpoints/104@statistisches-amt-kanton-zuerich-checkpoint.ipynb
02_python/.ipynb_checkpoints/1120@are-kanton-zuerich-checkpoint.ipynb
02_python/.ipynb_checkpoints/691@statistisches-amt-kanton-zuerich-checkpoint.ipynb
02_python/.ipynb_checkpoints/705@statistisches-amt-kanton-zuerich-checkpoint.ipynb
